# Root level ignores for Power BI Embed Project

# Frontend
fe-angular/node_modules/
fe-angular/dist/
fe-angular/.angular/

# Backend
be-node/node_modules/
be-node/.env

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log
